    <h1 contenteditable>{{ title }}</h1>
    <input type="button" class="add-pin" value="Add Pin"/>
    <section class="pins">
    </section>
    <section class="control ui-list">
        <section class="pin-form"></section>
    </section>
<!-- .board -->
