.board
    position relative
    background-color #eeeee9
    
    .pins
        width 100%
        background-color #ccccc9
    
    .control
        position absolute
        display block
        top 20em
        width 25%
        z-index 2
        background-color #eeeee9
